<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h3><%= restaurant.name %></h3>
  <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
<% end %>

<p><%= link_to "+ Add restaurant", new_restaurant_path%></p>
